body {
    /*
    background: url('../img/body.jpg') repeat scroll;
    background-color: #333333; */
    /* font-family: "adelle",georgia,serif; */
}

/* a:link, a:visited { color: #f57700; } */

.flowtime a,
.flowtime a:link,
.flowtime a:visited,
.flowtime a:hover,
.flowtime a:active,
.flowtime a:focus {
    color: #F97953; /* color: #f57700; */
}

.flowtime .ft-page h1, .flowtime .ft-page .header {
    color: #F97953;
}

.flowtime .ft-page h2, .flowtime .ft-page .sub-header {
    color: #848484;
}

.responsive {
    max-width : 100%; height: auto;
}
.title-wrapper {
    max-height: 500px;
    display: inline-block;
}
img.responsive {
    width : 100%; height: auto;
}

img.jruby, img.rails, img.tacks {
    max-width: 200px;
}

.warn { color: #B33A3A; }
.underline { text-decoration: underline; }
.foot-note, .flowtime .foot-note { 
    font-size: 120%;
}

.bg-jruby-2k8 {
    background: url(../img/jruby-2k8.jpg) center no-repeat;
    background-size: 800px 600px;
}
.bg-jruby-2k8 .img-header {
    margin-top: 60%;
}
.bg-just_ruby-2k8 {
    background: url(../img/just_ruby-2k8.jpg) center no-repeat;
    background-size: 1200px 750px;
}
.bg-jruby11-2k8 {
    background: url(../img/jruby11-2k8.jpg) center no-repeat;
    background-size: 1200px 750px;
}
.bg-bogacs {
    background: url(../img/bogacs.jpg) center no-repeat;
    background-size: auto 800px;
}
.bg-bogacs .img-header {
    margin-top: 65%;
}

.gist-wrapper {
}
.gist-wrapper .gist {
    max-width: 960px;
    margin: 0 auto;
    text-align: left;
}

pre {
    /* color: #CCCCCC; */
    /* margin: 0; */
    /* padding: 0.25em 0.5em 0.5em !important; */
    /* line-height: 1.3em; */
    /* border: 1px solid #DEDEDE; */
    background-color: #141414;
    white-space: pre;
    overflow: auto;
    overflow-y: hidden; /* hide vertical scroll */
    /* width: auto; */
}
pre code {
    color: #999988; /* #CCCCCC; */
    /* font-family: 'Bitstream Vera Sans Mono','Courier', Monospace; */
    word-wrap: normal;
    font-size: 100%;
    /* line-height: 1.3em; */
    /* font-weight: normal; */
    display: inline-block; /* notwrapped correctly in WebKit */
    /* white-space: pre; */
}
code {
    color: #CDA869; /* #FFFFFF; */
    font-family: inherit !important;
    /* font-size: 1.3em; */
    /* font-weight: bolder; */
}

.flowtime code {
    font-family: inherit;
    font-weight: lighter;
}

.gist { text-shadow: none; }
.gist pre { font:inherit; line-height:inherit; white-space:pre }

.gist { color: /* #000 */ #9B703F; }
.gist .render-container .render-viewer-error,
.gist .render-container .render-viewer-fatal,
.gist .render-container .octospinner { display: none; }
.gist .gist-render iframe { width: 100%; }
.gist .gist-file.gist-render { border: medium none; }
.gist .gist-file {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: #DDDDDD #DDDDDD #CCCCCC; border-image: none;
/* border-radius: 3px 3px 3px 3px; */
border-style: solid; border-width: 1px;
/* margin-bottom: 1em; */

font-family: Consolas, "Liberation Mono", Courier, monospace; /*-- */
    
}
.gist .gist-file .gist-data {
overflow: auto;
word-wrap: normal;
}
.gist .gist-file .gist-meta {
font-size: 85%; overflow:hidden;
padding:.5em; /* padding: 10px; */
color: /* #999999; */ #CCCCCC; background-color: /* #E8E8E8; */ #000000;
}
.gist .gist-file .gist-meta a {
text-decoration: none; color: /* #666666; */ #F57700; /* font-weight: bold; */
}
.gist .gist-file .gist-meta a:visited { color: /* #737; */ #F57700; }
.gist .gist-file .gist-data {
background-color: /* #f8f8ff; */ #141414;
border-bottom: 1px solid #ddd;
font-size: 100%; overflow:auto; word-wrap:normal;
}
.gist .gist-file .gist-data pre,
.gist .gist-file .gist-data .line-pre {
    
/*-- font-family: 'Bitstream Vera Sans Mono','Consolas','Liberation Mono','Courier', monospace; */
font-family: Consolas, "Liberation Mono", Courier, monospace; /*-- */
    
background: none repeat scroll 0 0 transparent !important;
margin: 0 !important; border: none !important;
padding: .1em .15em .15em .15em !important; /* padding: 0 !important; */
}
.gist .gist-file.scroll .gist-data {
bottom: 30px; left: 0; right: 0; top: 0;
position: absolute; overflow: scroll;
}
.gist .gist-file.scroll .gist-meta {
bottom: 0; left: 0; right: 0; position: absolute;
}
.gist .gist-file .gist-data .gist-highlight {
background: none repeat scroll 0 0 transparent !important;
}
.gist .gist-file .gist-data .gist-line-numbers,
.gist .gist-file .gist-data .line_numbers { display: none; }
.gist .gist-file .gist-data .line-numbers { padding: 0.5em; text-align: right; }
.gist .gist-file .gist-data .gist-line-numbers span, /* seems no longer needed ?! */
.gist .gist-file .gist-data .line-numbers .line-number { clear:right; display:block }
.gist .gist-file .gist-data .gist-line-data, /* */
.gist .gist-file .gist-data .line_data { padding: 0.5em !important; overflow: hidden; }
.gist div { padding: 0; margin: 0; line-height: 1.0em } /* */
.gist-syntax  { background: none repeat scroll 0 0 #FFFFFF; }
.gist-syntax .c { color: #999988; font-style: italic } /* Comment */
.gist-syntax .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.gist-syntax .k { color: /* #000000; */ #CDA869; font-weight: bold } /* Keyword */
.gist-syntax .o { color: /* #000000; */ #F8F8F8; font-weight: bold } /* Operator */
.gist-syntax .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.gist-syntax .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.gist-syntax .c1 { color: #999988; font-style: italic } /* Comment.Single */
.gist-syntax .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gist-syntax .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.gist-syntax .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.gist-syntax .ge { color: #000000; font-style: italic } /* Generic.Emph */
.gist-syntax .gr { color: #aa0000 } /* Generic.Error */
.gist-syntax .gh { color: #999999 } /* Generic.Heading */
.gist-syntax .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.gist-syntax .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.gist-syntax .go { color: #888888 } /* Generic.Output */
.gist-syntax .gp { color: #555555 } /* Generic.Prompt */
.gist-syntax .gs { font-weight: bold } /* Generic.Strong */
.gist-syntax .gu { color: #aaaaaa } /* Generic.Subheading */
.gist-syntax .gt { color: #aa0000 } /* Generic.Traceback */
.gist-syntax .kc { color: /* #000000; */ #CF6A4C; font-weight: bold } /* Keyword.Constant */
.gist-syntax .kd { color: /* #000000; */ #CF6A4C; font-weight: bold } /* Keyword.Declaration */
.gist-syntax .kp { color: /* #000000; */ #CF6A4C; font-weight: bold } /* Keyword.Pseudo */
.gist-syntax .kr { color: /* #000000; */ #CF6A4C; font-weight: bold } /* Keyword.Reserved */
.gist-syntax .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.gist-syntax .m { color: #009999 } /* Literal.Number */
.gist-syntax .s { color: /* #d14 */  #8F9D6A; } /* Literal.String */
.gist-syntax .na { color: #008080 } /* Name.Attribute */
.gist-syntax .nb { color: /*#0086B3; */ #7587A6; } /* Name.Builtin */
.gist-syntax .nc { color: #445588; font-weight: bold } /* Name.Class */
.gist-syntax .no { color: /* #008080; */ #9B859D; } /* Name.Constant */
.gist-syntax .ni { color: #800080 } /* Name.Entity */
.gist-syntax .ne { color: /* #990000; */ #9B703F; font-weight: bold } /* Name.Exception */
.gist-syntax .nf { color: /* #990000; */ #9B703F; font-weight: bold } /* Name.Function */
.gist-syntax .nn { color: /* #555555; */ #9B703F; } /* Name.Namespace */
.gist-syntax .nt { color: /* #000080; */ #CDA869; } /* Name.Tag */
.gist-syntax .nv { color: /* #008080; */ #CDA869; } /* Name.Variable */
.gist-syntax .ow { color: #000000; font-weight: bold } /* Operator.Word */
.gist-syntax .w { color: #bbbbbb } /* Text.Whitespace */
.gist-syntax .mf { color: #009999 } /* Literal.Number.Float */
.gist-syntax .mh { color: #009999 } /* Literal.Number.Hex */
.gist-syntax .mi { color: #009999 } /* Literal.Number.Integer */
.gist-syntax .mo { color: #009999 } /* Literal.Number.Oct */
.gist-syntax .sb { color: /* #d14 */ #8F9D6A; } /* Literal.String.Backtick */
.gist-syntax .sc { color: /* #d14 */ #8F9D6A; } /* Literal.String.Char */
.gist-syntax .sd { color: /* #d14 */ #8F9D6A; } /* Literal.String.Doc */
.gist-syntax .s2 { color: /* #d14 */ #8F9D6A; } /* Literal.String.Double */
.gist-syntax .se { color: /* #d14 */ #8F9D6A; } /* Literal.String.Escape */
.gist-syntax .sh { color: /* #d14 */ #8F9D6A; } /* Literal.String.Heredoc */
.gist-syntax .si { color: /* #d14 */ #8F9D6A; } /* Literal.String.Interpol */
.gist-syntax .sx { color: /* #d14 */ #8F9D6A; } /* Literal.String.Other */
.gist-syntax .sr { color: #009926 } /* Literal.String.Regex */
.gist-syntax .s1 { color: /* #d14 */  #8F9D6A; } /* Literal.String.Single */
.gist-syntax .ss { color: /* #990073; */ #CF6A4C; } /* Literal.String.Symbol */
.gist-syntax .bp { color: #999999 } /* Name.Builtin.Pseudo */
.gist-syntax .vc { color: #008080 } /* Name.Variable.Class */
.gist-syntax .vg { color: #008080 } /* Name.Variable.Global */
.gist-syntax .vi { color: #008080 } /* Name.Variable.Instance */
.gist-syntax .il { color: #009999 } /* Literal.Number.Integer.Long */