body {
    /*
    background: url('../img/body.jpg') repeat scroll;
    background-color: #333333; */
    /* font-family: "adelle",georgia,serif; */
}

/* a:link, a:visited { color: #f57700; } */

.flowtime a,
.flowtime a:link,
.flowtime a:visited,
.flowtime a:hover,
.flowtime a:active,
.flowtime a:focus {
    color: #F97953; /* color: #f57700; */
}

.flowtime .ft-page h1, .flowtime .ft-page .header {
    color: #F97953;
}

.flowtime .ft-page h2, .flowtime .ft-page .sub-header {
    color: #848484;
}
.dark { color: #848484; }

.responsive {
    max-width : 100%; height: auto;
}
.title-wrapper {
    max-height: 500px;
    display: inline-block;
}
img.responsive {
    width : 100%; height: auto;
}

img.jruby, img.rails, img.tacks {
    max-width: 200px;
}

.warn { color: #B33A3A; }
.underline { text-decoration: underline; }
.foot-note, .flowtime .foot-note {
    font-size: 120%;
}

.bg-jruby-2k8 {
    background: url(../img/jruby-2k8.jpg) center no-repeat;
    background-size: 800px 600px;
}
.bg-jruby-2k8 .img-header {
    margin-top: 60%;
}
.bg-just_ruby-2k8 {
    background: url(../img/just_ruby-2k8.jpg) center no-repeat;
    background-size: 1200px 750px;
}
.bg-jruby11-2k8 {
    background: url(../img/jruby11-2k8.jpg) center no-repeat;
    background-size: 1200px 750px;
}
.bg-potsdam {
    background: url(../img/potsdam.jpg) center no-repeat;
    background-size: auto 700px;
    /* opacity: 90%; */
}
.bg-bogacs {
    background: url(../img/bogacs.jpg) center no-repeat;
    background-size: auto 800px;
}
.bg-bogacs .img-header {
    margin-top: 65%;
}

.gist-wrapper {
}
.gist-wrapper .gist {
    max-width: 980px;
    margin: 0 auto;
    text-align: left;
}

pre {
    /* color: #CCCCCC; */
    /* margin: 0; */
    /* padding: 0.25em 0.5em 0.5em !important; */
    /* line-height: 1.3em; */
    /* border: 1px solid #DEDEDE; */
    background-color: #141414;
    white-space: pre;
    overflow: auto;
    overflow-y: hidden; /* hide vertical scroll */
    /* width: auto; */
}
pre code {
    color: #999988; /* #CCCCCC; */
    /* font-family: 'Bitstream Vera Sans Mono','Courier', Monospace; */
    word-wrap: normal;
    font-size: 100%;
    /* line-height: 1.3em; */
    /* font-weight: normal; */
    display: inline-block; /* notwrapped correctly in WebKit */
    /* white-space: pre; */
}
code {
    color: #CDA869; /* #FFFFFF; */
    font-family: inherit !important;
    /* font-size: 1.3em; */
    /* font-weight: bolder; */
}

.flowtime code {
    font-family: inherit;
    font-weight: lighter;
}
